.App {
	text-align: center;
}

.lang {
	width: 30px;
	height: 30px;
	margin: 5px;
}

.lang:hover {
	cursor: pointer;
	opacity: 70%;
}

.lang:active {
	padding: 1px;
}

.active {
	background-color: green;
	border: 1px solid green;
}

.in-active {
	background-color: red;
	border: 1px solid red;
}
